{% style %}
  .custom-image-with-text-content .icon-text svg{
    width: 30px;
    height: 30px;
  }
  .custom-image-with-text-{{ section.id }} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    {% if section.settings.image_alignment == "left" %}
      flex-direction: row-reverse;
      {% else %}
      flex-direction: row;
    {% endif %}
  }
  .custom-image-with-text-content .icon-text {
    padding: 16px 0;
    font-size: larger;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .custom-image-with-text-content-{{ section.id }} {
    padding: 20px;
  }
  @media (max-width: 768px) {
    .custom-image-with-text-content-{{ section.id }} {
      {% if section.settings.padding_on_mobile %}
        padding: 20px;
        {% else %}
        padding: 0px;
      {% endif %}
    }
    .custom-image-with-text-{{ section.id }} {
      flex-direction: column-reverse;
    {% if section.settings.image_alignment == "left" %}
      {% else %}
    {% endif %}
    }
  }
{% endstyle %}

<div
  class="custom-image-with-text custom-image-with-text-{{ section.id }}"
  style="background: {{ section.settings.bg_color }};color: {{ section.settings.text_color }};"
>
  <div class="custom-image-with-text-content custom-image-with-text-content-{{ section.id }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'button' %}
          <a
            href="{{ block.settings.button_link }}"
            style="background: {{ block.settings.button_bg_color }};color: {{ block.settings.btn_text_color }};"
            class="custom-image-with-text-btn"
          >
            {{- block.settings.btn_label -}}
          </a>
        {% when 'heading' %}
          <h2>{{ block.settings.heading }}</h2>
        {% when 'paragraph' %}
          <p class="custom-image-with-text-paragraph">{{ block.settings.paragraph }}</p>
          <br>
        {% when 'icon_text' %}
          <p class="icon-text">
            {% if block.settings.icon != blank %}
              {{ block.settings.icon | image_url: width: block.settings.icon.width | image_tag: style: "width: 30px;height: 30px;" }}
            {% endif %}
            <span>
              {{ block.settings.text }}
            </span>
          </p>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="custom-image-with-text-img">
    {% if section.settings.image_with_text_image != blank %}
      {{
        section.settings.image_with_text_image
        | image_url: width: 500
        | image_tag: alt: section.settings.image_with_text_image.alt
      }}
    {% else %}
      {{ 'image' | placeholder_svg_tag }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Custom image with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#474e31"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "padding_on_mobile",
      "label": "Content padding on mobile",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quibusdam quam error quae ad voluptates est, itaque sequi dignissimos fuga cumque nobis? Veniam consectetur sunt fugit, ipsam perferendis minima debitis!</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "button title",
          "default": "Button title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Button Text color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "icon_text",
      "name": "Icon with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "inline_richtext",
          "label": "Text",
          "id": "text",
          "default": "Text with Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom image with text",
      "blocks": [{ "type": "heading" }, { "type": "paragraph" }, { "type": "button" }]
    }
  ]
}
{% endschema %}
