<div
  class="custom-image-with-text"
  style="background: {{ section.settings.bg_color }};color: {{ section.settings.text_color }};"
>
  <div class="custom-image-with-text-content">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'button' %}
          <a
            href="{{ block.settings.button_link }}"
            style="background: {{ block.settings.button_bg_color }};color: {{ block.settings.btn_text_color }};"
            class="custom-image-with-text-btn"
          >
            {{- block.settings.btn_label -}}
          </a>
        {% when 'heading' %}
          <h2>{{ block.settings.heading }}</h2>
        {% when 'paragraph' %}
          <p class="custom-image-with-text-paragraph">{{ block.settings.paragraph }}</p>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="custom-image-with-text-img">
    {% if section.settings.image_with_text_image != blank %}
      {{
        section.settings.image_with_text_image
        | image_url: width: 500
        | image_tag: alt: section.settings.image_with_text_image.alt
      }}
    {% else %}
      {{ 'image' | placeholder_svg_tag }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Custom image with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#474e31"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quibusdam quam error quae ad voluptates est, itaque sequi dignissimos fuga cumque nobis? Veniam consectetur sunt fugit, ipsam perferendis minima debitis!</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "button title",
          "default": "Button title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Button Text color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom image with text",
      "blocks": [{"type": "heading"}, {"type": "paragraph"}, {"type": "button"}]
    }
  ]
}
{% endschema %}
